@import '../../admin/auth/LoginAdmin.css';

.lien-oublie-btn {
  font-size: 0.86rem;
  font-weight: 700;
  color: var(--bleu);
  text-decoration: none;
  transition: color var(--transition);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

.lien-oublie-btn:hover {
  color: var(--bleu-hover);
  text-decoration: underline;
}